@font-face {
    font-family: "Nunito";
    src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

body {
    margin: 0;
    overflow-x: hidden;
    font-size: 60px;
    font-family: "Nunito", sans-serif;
}

.container {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
}

.main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 100%;

    .main-bg {
        width: 100vw;
        height: 720px;
        position: absolute;
        background-image: url(../img/main-bg.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 86px;
        margin-bottom: 145px;

        h1 {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 1em;
            line-height: 0.933em;
            text-align: center;
            letter-spacing: -0.02em;
            color: #92400e;
            max-width: 706px;
            margin: 64px 0 24px 0;
        }

        p {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 0.33em;
            text-align: center;
            color: #475467;
            max-width: 618px;
            margin: 0 0 48px;
        }

        a {
            text-decoration: none;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;
            color: #ffffff;
            padding: 16px 28px;
            background: #b45309;
            border-radius: 8px;
        }
    }
}

.our-work {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 116px;
    border-bottom: 1px solid #eaecf0;
    gap: 20px;

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 50%;

        a {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 600;
            font-size: 0.266em;
            color: #ffffff;
            text-decoration: none;
            padding: 12px 20px;
            background: #b45309;
            border-radius: 8px;
            display: inline-block;
        }
    }

    .image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        overflow: hidden;

        .small {
            display: none;
        }
    }
}

.our-work,
.projects-contributions {
    .text {
        h3 {
            text-transform: uppercase;
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 0.266em;
            color: #b45309;
            margin: 0 0 12px 0;
        }

        h2 {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 0.6em;
            letter-spacing: -0.02em;
            color: #92400e;
            margin: 0 0 40px;
        }

        p {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 0.3em;
            color: #475467;
            margin: 0 0 40px;
        }
    }
}

.projects-contributions {
    margin-top: 46px;

    .text-statistics {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 77px;

        .text {
            max-width: 590px;

            h2 {
                margin-bottom: 20px;
            }
        }

        .statistics {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            row-gap: 64px;

            .statistic {
                width: 50%;
            }

            h2 {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 700;
                font-size: 1em;
                text-align: center;
                letter-spacing: -0.02em;
                color: #b45309;
                margin: 0 0 12px;
            }

            p {
                font-family: "Nunito";
                font-style: normal;
                font-weight: 600;
                font-size: 0.3em;
                text-align: center;
                color: #101828;
                margin: 0;
            }
        }
    }

    .projects {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 38px;
        row-gap: 46px;

        .project-container {
            width: calc(50% - 85px);
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 14px;
            padding: 48px 32px;
            border: 1px solid #d8d8d8;
            border-radius: 8px;

            .text {
                h3 {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 0.466em;
                    letter-spacing: -0.01em;
                    color: #2d2d2d;
                    margin: 0 0 8px;
                    text-transform: none;
                }

                p {
                    font-family: "Nunito";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 0.26em;
                    color: #2d2d2d;
                    margin: 0;
                    line-height: 150%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    margin-top: 183px;

    img {
        position: absolute;
    }

    .text {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 47px;

        h3 {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 700;
            font-size: 0.6em;
            letter-spacing: -0.02em;
            color: #92400e;
            margin: 0 0 20px;
        }

        p {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 400;
            font-size: 0.33em;
            text-align: center;
            color: #92400e;
            margin: 0 0 20px;
        }

        a {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 600;
            font-size: 0.3em;
            color: #ffffff;
            background-color: #92400e;
            text-decoration: none;
            padding: 16px 28px;
            border-radius: 8px;
        }
    }

    .address {
        position: absolute;
        bottom: 45px;
        right: 15px;

        h4 {
            font-family: "Nunito";
            font-style: normal;
            font-weight: 600;
            font-size: 0.23em;
            color: #000000;
            margin: 0 0 5px;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        max-width: 91vw;
    }

    .projects-contributions {
        .text-statistics {
            flex-direction: column;
            margin-bottom: 60px;

            .statistics {
                width: 100%;
                row-gap: 20px;
            }
        }

        .projects {
            row-gap: 20px;

            .icon img {
                width: 64px;
            }

            .project-container {
                width: 100%;
                flex-direction: column;
                padding: 32px;

                h3 {
                    font-size: 24px !important;
                }

                p {
                    font-size: 14px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 30px;
    }

    .main {
        .main-bg {
            height: 400px;
        }

        .main-content {
            margin-top: 30px;
            margin-bottom: 110px;

            img {
                width: 131px;
            }

            h1 {
                margin: 23px 0 13px 0;
                text-align: left;
            }

            p {
                text-align: left;
                margin: 0 0 22px;
            }

            a {
                flex: 100%;
                width: calc(100% - 56px);
                text-align: center;
            }
        }
    }

    .our-work,
    .projects-contributions {
        .text {
            h3 {
                margin: 0 0 16px 0;
            }

            h2 {
                margin: 0 0 16px;
            }

            p {
                margin: 0 0 32px;
            }
        }
    }

    .our-work {
        .image {
            max-height: 300px;
        }
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: 130px;

        .text {
            margin-bottom: 40px;
            h3 {
                font-size: 30px !important;
            }

            p {
                font-size: 18px !important;
            }

            a {
                font-size: 18px !important;
            }
        }

        .address {
            position: relative;
            bottom: unset;
            right: unset;
            margin-bottom: 40px;

            h4 {
                font-size: 14px !important;
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    body {
        font-size: 30px;
    }

    .main {
        .main-bg {
            height: 400px;
        }

        .main-content {
            margin-top: 30px;
            margin-bottom: 110px;

            img {
                width: 131px;
            }

            h1 {
                margin: 23px 0 13px 0;
                text-align: left;
            }

            p {
                text-align: left;
                margin: 0 0 22px;
            }

            a {
                flex: 100%;
                width: calc(100% - 56px);
                text-align: center;
            }
        }
    }

    .our-work {
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;

        .text {
            width: 100%;
            order: 2;
        }

        .image {
            width: 100vw;
            order: 1;
            align-items: flex-end;
            overflow-y: hidden;
            max-height: 153px;

            .small {
                display: inline-block !important;
            }

            .large {
                display: none;
            }
        }
    }

    .our-work,
    .projects-contributions {
        .text {
            h3 {
                margin: 0 0 16px 0;
            }

            h2 {
                margin: 0 0 16px;
            }

            p {
                margin: 0 0 32px;
            }
        }
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-top: 130px;

        .text {
            margin-bottom: 40px;
            h3 {
                font-size: 30px !important;
            }

            p {
                font-size: 18px !important;
            }

            a {
                font-size: 18px !important;
            }
        }

        .address {
            position: relative;
            bottom: unset;
            right: unset;
            margin-bottom: 40px;

            h4 {
                font-size: 14px !important;
            }
        }
    }
}
